# Spring профиль
SPRING_PROFILES_ACTIVE=dev

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_HOST=
REDIS_PORT=

# JWT (для auth-service)
JWT_SECRET=
JWT_ISSUER=
JWT_ACCESS_EXP_MINUTES=
JWT_REFRESH_EXP_DAYS=