# Spring профиль
SPRING_PROFILES_ACTIVE=prod

# Postgres для auth-service
AUTH_SERVICE_POSTGRES_USER=
AUTH_SERVICE_POSTGRES_PASSWORD=
AUTH_SERVICE_POSTGRES_DB=

# Postgres для user-profile-service
PROFILE_SERVICE_POSTGRES_USER=
PROFILE_SERVICE_POSTGRES_PASSWORD=
PROFILE_SERVICE_POSTGRES_DB=

# Redis
REDIS_HOST=
REDIS_PORT=

# Kafka
BOOTSTRAP_SERVERS=

# JWT (для auth-service и profile-service)
JWT_SECRET=
JWT_ISSUER=
JWT_ACCESS_EXP_MINUTES=
JWT_REFRESH_EXP_DAYS=
