# Spring профиль
SPRING_PROFILES_ACTIVE=prod

# Postgres для auth-service
AUTH_SERVICE_POSTGRES_USER=
AUTH_SERVICE_POSTGRES_PASSWORD=
AUTH_SERVICE_POSTGRES_DB=

# Postgres для user-profile-service
PROFILE_SERVICE_POSTGRES_USER=
PROFILE_SERVICE_POSTGRES_PASSWORD=
PROFILE_SERVICE_POSTGRES_DB=

# Postgres для skill-service
SKILL_SERVICE_POSTGRES_USER=
SKILL_SERVICE_POSTGRES_PASSWORD=
SKILL_SERVICE_POSTGRES_DB=

# Postgres для project-service
PROJECT_SERVICE_POSTGRES_USER=
PROJECT_SERVICE_POSTGRES_PASSWORD=
PROJECT_SERVICE_POSTGRES_DB=

# Postgres для skill-verification-service
SKILL_VERIFICATION_SERVICE_POSTGRES_USER=
SKILL_VERIFICATION_SERVICE_POSTGRES_PASSWORD=
SKILL_VERIFICATION_SERVICE_POSTGRES_DB=

# Postgres для portfolio-service
PORTFOLIO_SERVICE_POSTGRES_USER=
PORTFOLIO_SERVICE_POSTGRES_PASSWORD=
PORTFOLIO_SERVICE_POSTGRES_DB=

# Гитхаб токен для skill-verification-service
GITHUB_TOKEN=

# Redis
REDIS_HOST=
REDIS_PORT=

# Kafka
BOOTSTRAP_SERVERS=

# JWT (для auth-service и profile-service)
JWT_SECRET=
JWT_ISSUER=
JWT_ACCESS_EXP_MINUTES=
JWT_REFRESH_EXP_DAYS=

# gateway-service
AUTH_SERVICE_URI=
USER_PROFILE_SERVICE_URI=
SKILL_SERVICE_URI=
PROJECT_SERVICE_URI=
PORTFOLIO_SERVICE=URI
FRONTEND_URL=
JWT_PUBLIC_ENDPOINTS=

# cookie для auth-service
REFRESH_TOKEN=
HTTP_ONLY=
SECURE=
SAME_SITE=
MAX_AGE_DAYS=

# адрес для feign с skill-service
SKILL_SERVICE_URL=
